@tailwind base;
@tailwind components;
@tailwind utilities;


.main {
    background: rgb(63,94,251);
    background: linear-gradient(90deg, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
    color: white;
    font-family:'Courier New', Courier, monospace;
}

.landing__page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
.bookCard img {
    height: 250px;
    width: 200px;
    border-radius: 5px;
    border: 1px solid white
}

.active {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.form input {
    border: 1px solid grey;
    border-radius: 5px;
}

.form button {
    align-self: center;
    margin-top: 25px;
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
}

.input-wrapper label {
    margin-right: 5px;
    white-space: nowrap;
}

.input-wrapper input {
    width: 100%;
    padding: 3px;
}



h3 {
    size: 2em;
    font-weight: 600;
}



/* .button-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
} */


/* PROFILE PAGE */

.profile-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* .profile-welcome {
    font-size: 2rem;
    font-weight: bold;
    margin: 50px;
    text-align: center;
} */
