@tailwind base;
@tailwind components;
@tailwind utilities;

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h2 {
    font-size: 2rem;
    font-weight: bold;
    align-self: center;
    margin-bottom: 20px;
}

.form {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 50px;
    background-color: aliceblue;
    border-radius: 10px;
}

.form input {
    border: 1px solid grey;
    border-radius: 10px;
}

.form button {
    width: 30%;
    align-self: center;
    margin-top: 25px;
    font-weight: bold;
}

.input-wrapper {
    display: flex;
    margin-bottom: 20px;
}

.input-wrapper label {
    margin-right: 5px;
}

.single-book-page {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-items: center;
}

.single-book-container {
    width: 50%;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 20px;
    text-align: center;
    display: flex;
}

h3 {
    size: 2em;
    font-weight: 600;
}